h1{
    background: #bbbbbb; 

    color: #000000;

    color: #C78C19;

    border-color:#088C19;

    color: #FFFFFF;

    background: orange;

    background: darkorange;

    background: #555555;     

    background: #FEFEFE;

    background: #888888;

}
